@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap");
/* Color palette: #94E8B4 #72BDA3 #5E8C61 #4E6151 #3B322C
Tints and Shades for #94E8B4: #eafaf0 #dff8e9 ##d4f6e1 #bff1d2 #4a745a #4a745a #395f52
Tints and Shades for #3B322C: #c4c2c0 #b1adab #0c0a09
Tints and Shades for #72BDA3 : #d5ebe3 #c7e5da #b0dacc #9cd1bf #223931
Tints and Shades for #5E8C61 #1c2a1d
*/

/* - FONT SIZE SYSTEM (px)
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98 

- SPACING SYSTEM (px)
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128
*/

/**********************/
/* GENERAL */
/**********************/
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Roboto", sans-serif;
  line-height: 1;
  font-weight: 400;
  color: #333;
  background-color: #4e6151;
}

.primary-heading {
  font-size: 4.4rem;
  text-align: center;
}

.container {
  max-width: 120rem;
  margin: 0 auto;
  padding: 0 3.2rem;
  margin-top: 4.8rem;
}

.btn {
  border: none;
  padding: 1.6rem;
  font-size: 1.8rem;
  border-radius: 100px;
  text-transform: uppercase;
  font-weight: 600;
  cursor: pointer;
}

.list {
  list-style: none;
  display: flex;
  flex-direction: column;
  margin: 3.2rem 0;
  font-size: 2.4rem;
  border-radius: 9px;
}

.list li {
  padding: 2rem;
}

.list li:last-child {
  border-bottom-left-radius: 9px;
  border-bottom-right-radius: 9px;
}

/**********************/
/* HEADER SECTION */
/**********************/
.header {
  background-color: #5e8c61;
  padding: 4.8rem;
  color: #1c2a1d;
  border-top-left-radius: 11px;
  border-top-right-radius: 11px;
}

/**********************/
/* FRIENDS SECTION */
/**********************/

.view-and-add-friends {
  background-color: #72bda3;
  padding: 4.8rem;
  color: #223931;
}

.secondary-heading {
  font-size: 3rem;
  font-weight: 500;
}

.add-friend {
  max-width: 60rem;
  margin: 1.6rem 0;
  background-color: #9cd1bf;
  padding: 2.4rem;
  border-radius: 11px;
  display: flex;
  align-items: center;
  gap: 1.6rem;
  font-size: 1.8rem;
  flex-direction: column;
}

.add-friend input {
  padding: 1.2rem;
  font-family: inherit;
  color: inherit;
  border: none;
  background-color: #d5ebe3;
  border-radius: 9px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
}

.cambridge-blue {
  color: #395f52;
  background-color: #d5ebe3 !important;
  transition: all 0.4s;
}

.btn.cambridge-blue:hover {
  background-color: #c7e5da !important;
}

.input-friends .list li {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.input-friends .list li:nth-child(even) {
  background-color: #b0dacc;
}
.input-friends .list {
  background-color: #9cd1bf;
}

.edit-and-delete {
  display: flex;
  gap: 1.2rem;
  position: relative;
}

.edit-btn,
.delete-btn {
  border: none;
  background: none;
  cursor: pointer;
}

.edit-friend {
  display: flex;
  gap: 1.2rem;
  position: absolute;
  background-color: #fff;
  font-size: 1.8rem;
  top: -2.6rem;
  right: 4rem;
  padding: 1.2rem;
  border-radius: 15px;
}

.edit-friend input {
  font-family: inherit;
  color: inherit;
  border: none;
  background-color: #d5ebe3;
  padding: 0.4rem;
  border-radius: 9px;
}

.edit-submit-btn {
  border: none;
  padding: 1.2rem;
  border-radius: 9px;
}

/**********************/
/* CALCULATE SECTION */
/**********************/

.calculate {
  background-color: #94e8b4;
  padding: 4.8rem;
  color: #2c4636;
}

.celadon {
  color: #4a745a;
  background-color: #dff8e9 !important;
  transition: all 0.4s;
}

.btn.celadon:hover {
  background-color: #d4f6e1 !important;
}

.calculate .list li:nth-child(even) {
  background-color: #d4f6e1;
}
.calculate .list {
  background-color: #bff1d2;
}

/**********************/
/* FOOTER SECTION */
/**********************/

.footer {
  background-color: #3b322c;
  padding: 3.2rem;
  padding-left: 4.8rem;
  color: #fff;
  border-bottom-left-radius: 11px;
  border-bottom-right-radius: 11px;
}

.brown {
  background-color: #c4c2c0 !important;
  transition: all 0.4s;
  color: #0c0a09;
}

.btn.brown:hover {
  background-color: #b1adab !important;
}
