@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap");
/* Color palette: #94E8B4 #72BDA3 #5E8C61 #4E6151 #3B322C
Tints and Shades for #94E8B4: #eafaf0 #dff8e9 ##d4f6e1 #bff1d2 #4a745a #4a745a #395f52
Tints and Shades for #3B322C: #c4c2c0 #b1adab #0c0a09
Tints and Shades for #72BDA3 : #d5ebe3 #c7e5da #b0dacc #9cd1bf #223931
Tints and Shades for #5E8C61 #1c2a1d
background: #f0f9f0
*/

/* - FONT SIZE SYSTEM (px)
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98 

- SPACING SYSTEM (px)
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128
*/

/**********************/
/* GENERAL */
/**********************/
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Roboto", sans-serif;
  line-height: 1;
  font-weight: 400;
  color: #333;
  background-color: #f0f9f0;
}

.primary-heading {
  font-size: 4.4rem;
  text-align: center;
}

.btn {
  border: none;
  padding: 1.6rem;
  font-size: 1.8rem;
  border-radius: 100px;
  text-transform: uppercase;
  font-weight: 600;
  cursor: pointer;
}

.list {
  list-style: none;
  display: flex;
  flex-direction: column;
  margin: 3.2rem 0;
  font-size: 1.8rem;
}

.list li {
  padding: 2rem;
}

/**********************/
/* HEADER SECTION */
/**********************/
.header {
  background-color: #5e8c61;
  padding: 4.8rem;
  color: #f0f9f0;
  display: flex;
  justify-content: center;
}
.title {
  font-weight: 500;
  font-size: 24px;
}

/**********************/
/* FRIENDS SECTION */
/**********************/

.enter-friends {
  padding: 4.8rem;
}

.view-and-add-friends {
  background-color: #f0f9f0;
  color: #223931;
}

.secondary-heading {
  font-size: 2rem;
  font-weight: 500;
}

.add-friend {
  max-width: 60rem;
  margin: 1.6rem 0;
  border-radius: 11px;
  display: flex;
  align-items: center;
  gap: 1.6rem;
  font-size: 1.8rem;
}

.input-friends .list li {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.input-friends .list li:nth-child(even) {
  background-color: #d5ebe3;
}
.input-friends .list {
  background-color: #c7eade;
}

.edit-and-delete {
  display: flex;
  gap: 1.2rem;
  position: relative;
}

.edit-btn,
.delete-btn {
  border: none;
  background: none;
  cursor: pointer;
}

.edit-friend-buttons {
  display: flex;
  gap: 8px;
}

.next-buttons {
  display: flex;
  gap: 10px;
}

.next-buttons-container {
  display: flex;
}

/**********************/
/* CALCULATE SECTION */
/**********************/

.calculate {
  background-color: #f0f9f0;
  padding: 4.8rem;
  color: #2c4636;
}

.calculate .list li:nth-child(even) {
  background-color: #d5ebe3;
}
.calculate .list {
  background-color: #c7eade;
}
